/***************************************************
*
* Front End News Stylesheet
*
*  White:              #ffffff
*  Orange:             #F19074
*  Purple (bright):    #8436CC
*  Purple (dark):      #53227F
*  Purple (medium):    #A543FF
*  Purple (light):     #CA90FF
*  Gray (dark):        #212121
*  Gray (medium):      #727272
*  Gray (light):       #b6b6b6
****************************************************/

/*------------------------------------------------------
*  Base
-----------------------------------------------------*/
body{
  
}

h1,h2,h3,h4,h5,h6{
  
}

p{
  
}

a{
  
}

ol{
  
}

ul{
  
}

li{
  
}

/*------------------------------------------------------
*  Header
-----------------------------------------------------*/
.hero{
  background-color:#A543FF;
  color: #ffffff;
  padding: 25px 0;
  text-align:center;

}

.logo{
  font-size: 34px;
  font-weight: bold;
  text-transform: upperase;

}